h1 {
    text-align: center;
    margin-top: 0;
}

body {
    font-family:  sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

#quote {
    font-size: 1.5em;
}

#author {
    font-style: italic;
}

button {
    margin-top: 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
